<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Capacitor PWA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="captureImage()" expand="block">
    <ion-icon name="camera" slot="start"></ion-icon>
    Capture image
  </ion-button>

  <ion-img *ngIf="myImage" [src]="myImage"></ion-img>

  <ion-button (click)="getCurrentPosition()" expand="block">
    <ion-icon name="locate" slot="start"></ion-icon>
    Get position
  </ion-button>

  <!-- present the geolocation information -->
  <ion-card *ngIf="position">
    <ion-card-content>
      <ion-item>
        <!-- <ion-icon name="location" slot="start"></ion-icon> -->
        Lat: {{ position.coords.latitude }}
      </ion-item>
      <ion-item>
        <!-- <ion-icon name="location" slot="start"></ion-icon> -->
        Lng: {{ position.coords.longitude }}
      </ion-item>

      <ion-button (click)="share()" expand="block" color="secondary">
        <!-- <ion-icon name="share" slot="start"></ion-icon> -->
        Share!
      </ion-button>
    </ion-card-content>
  </ion-card>


  <ion-button slot="end">
    <ion-item>
      <ion-label>
        <ion-icon size="large" name="Bluetooth"></ion-icon>
     </ion-label>
     <ion-toggle (ionOnChange)="toggleBle($event)" [(ngModel)]="ble"></ion-toggle>
    </ion-item>
  </ion-button>

  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
      <ion-button *ngIf="scanText===''" (click)="startScanning()" style="width:100%">
        <ion-icon size="large" name="refresh-circle"></ion-icon>
        Scan
      </ion-button>
    </ion-col>
    <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align:center">
        {{scanText}}
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-item *ngFor="let d of devices; let i = index">
        <b style="color:#fff"> {{d.localName}}</b>
        <ion-button (click)="connect(d,i)" *ngIf="!d.connection" slot="end">Connect</ion-button>
        <ion-button (click)="disconnect(d,i)" *ngIf="d.connection" slot="end">DisConnect</ion-button>
    </ion-item>
  </ion-list>
</ion-content>